<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>郑州成功财经学院图书馆推荐系统</title>
    <link rel="stylesheet" type="text/css" href="__HPUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__HPUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__HPUBLIC__/js/libs/modernizr.min.js"></script>
</head>
<body>
<include file="Public/head" />
<div class="container clearfix">
   <include file="Public/left" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/index/index">首页</a><span class="crumb-step">&gt;</span><span>新增链接</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform">
                <input type="hidden" id="id" name="id"  value="{$cater.id}" >
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red"></i>书名：</th>
                                <td>
                                    <input class="common-text required" id="name" name="name" size="50" value="{$cater.name}" type="text">*
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red"></i>书号：</th>
                                <td>
                                    <input class="common-text required" id="shuhao" name="shuhao" size="50" value="{$cater.shuhao}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red"></i>作者：</th>
                                <td>
                                    <input class="common-text required" id="zuoze" name="zuoze" size="50" value="{$cater.zuoze}" type="text">*
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red"></i>出版社：</th>
                                <td>
                                    <input class="common-text required" id="chubanshe" name="chubanshe" size="50" value="{$cater.chubanshe}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red"></i>荐书人：</th>
                                <td>
                                    <input class="common-text required" id="tuijianren" name="tuijianren" size="50" value="{$cater.tuijianren}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red"></i>联系方式：</th>
                                <td>
                                    <input class="common-text required" id="tel" name="tel" size="50" value="{$cater.tel}" type="text">*
                                </td>
                            </tr>
                           
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>