<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">郑州成功财经学院</a></h1>
            <ul class="navbar-list clearfix">
                <li><a target="_blank" class="on" href="http://www.chenggong.edu.cn/">郑州成功财经学院</a></li>
                <li><a href="http://www.chenggong.edu.cn/cg_tsg/" >图书推荐系统</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href ='javascript:;' class='book'>图书馆首页</a></li>
                
                <li><a href ='javascript:;' class='show'>开发人员</a></li>

            </ul>
        </div>
    </div>
</div>