{include file='head' /}
<div class="content-wrapper">
  <section class="content-header">
     
    </section>

    

    <section class="invoice">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i> 菜品分类详情
            <!-- <small class="pull-right">Date: 2/10/2014</small> -->
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>菜品图片</th>
              <th>菜品名称</th>
              <th>菜品价格</th>
              <th>菜品状态</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
              {php}
                $status = ['0' => '下架', '1' => '正常'];
                $color = ['0' => 'red', '1' => 'green'];
              {/php}
              {volist name='list' id='v'}
              {php}
                $file = substr($v['dish_img'], 0, 8);
                $img = 'thumb'.substr($v['dish_img'], 9, 36);
              {/php}
              <tr id="{$v['dish_id']}">
                <td><img style="width: 120px; height: 80px;" src="/uploads/dish/{$file}/{$img}"></td>
                <td>{$v['dish_name']}</td>
                <td>{$v['dish_price']}</td>
                <td style="color:{$color[$v['dish_status']]}">{$status[$v['dish_status']]}</td>
                <td>
                  <button class="btn btn-xs btn-danger" onclick="del({$v['dish_id']});">删除</button>
                  <button class="btn btn-xs btn-info" onclick="changeStatus({$v['dish_id']});">切换状态</button>
                  <a href="{:url('admin/dish/add', ['id' => $v['dish_id']])}" class="btn btn-xs btn-primary">修改</a>
                </td>
              </tr>
              {/volist}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row no-print">
        <div class="col-xs-12">
          <!-- <a href="{:url('/admin/index/downLoad')}" target="_blank" class="btn btn-primary"><i class="fa fa-download"></i> 下载</a> -->
         <!--  <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment
          </button> -->
          <div class="pull-right"></div>
        </div>
      </div>
    </section>
    <div class="clearfix"></div>
    </div>
{include file='foot' /}
<script type="text/javascript">
  function del(id) {
    if(confirm('是否确认删除?')) {
      $.ajax({
        url:"{:url('/admin/Dish/dodel')}",
        type:"POST",
        data:{id:id},
        success:function(data){
          if(data.code==1){
            $("#"+id).remove();
          }else{
            alert(data.msg);
          }
        }
      });
    }
  }

  function changeStatus(id) {
    $.ajax({
      url:"{:url('/admin/Dish/changeStatus')}",
      type:"POST",
      data:{id:id},
      success:function(data){
        if(data.code==1){
          location.reload();
        }else{
          alert(data.msg);
        }
      }
    });
  }
</script>